flask==2.0.3
gunicorn== 20.0.4
sqlalchemy==1.4.42
psycopg2 == 2.9.4
pandas
snscrape
praw == 7.6.0
numpy
splitter == 0.1.1
nltk ==3.6.7
gensim == 3.8.0
spacy ==3.4.1
future
funcy
wordninja==2.0.0
./en_core_web_sm-2.2.5.tar.gz